In [93]:
import pandas as p
import numpy as n
import requests as r
import os
import zipfile
import glob

In [13]:
_FILECONST = "{START}_million_to_{END}_million.zip"

In [8]:
sd = [(75,79), (80,99), (100,119), (120,199), (200,249), (250,999)]

In [12]:
if not os.path.exists("extract"):
    os.mkdir("extract")

In [15]:
for i in sd:
    if not os.path.exists(_FILECONST.format(START=i[0], END=i[1])):
        data = r.get("https://faculty.cs.niu.edu/~dakoop/cs503-2022fa/a7/" + _FILECONST.format(START=i[0], END=i[1]))
        open(_FILECONST.format(START=i[0], END=i[1]), 'wb').write(data.content)

In [19]:
for i in sd:
    if os.path.exists(_FILECONST.format(START=i[0], END=i[1])):
        with zipfile.ZipFile(_FILECONST.format(START=i[0], END=i[1])) as zf:
            zf.extractall("extract")

In [102]:
def get_path(dirs, fileext):
    return glob.glob(os.path.join(dirs,"**/*.{}".format(fileext)), recursive=True)

In [104]:
list_npy = get_path(r"S:/GitHub Upload/All python programs/Assignment 7/extract/", "npy")

In [142]:
# for i in range(0, len(list_npy)):
#     print(list_npy[i].split("\\")[-1], " : ", n.load(list_npy[i], allow_pickle=True))
#     print(i)
print(len(list_npy))
h=[2,3,2,2,1,3,7]
h[len(h):] = n.load(list_npy[2])[0].tolist()
h

32

[2,
 3,
 2,
 2,
 1,
 3,
 7,
 20211101,
 20211201,
 20220101,
 20220201,
 20220301,
 20220401,
 20220501,
 20220601,
 20220701,
 20220801,
 20220901,
 20221001]

In [164]:
datas = {"Date": [], "Views": [],"Artist":[]}

for i in range(0, len(list_npy)):
    s = n.load(list_npy[i])
    datas["Date"][len(datas["Date"]):] = s[0].tolist()
    datas["Views"][len(datas["Views"]):] = s[1].tolist()
    datas["Artist"][len(datas["Artist"]):] = [list_npy[i].split("\\")[-1]] * len(s[0])

In [166]:
df = p.DataFrame.from_dict(datas, orient='index')
df = df.transpose()
df

         Date   Views           Artist
0    20211101  244394  nicki-minaj.npy
1    20211201  289797  nicki-minaj.npy
2    20220101  265998  nicki-minaj.npy
3    20220201  333488  nicki-minaj.npy
4    20220301  255348  nicki-minaj.npy
..        ...     ...              ...
379  20220601  217135       r.e.m..npy
380  20220701  220454       r.e.m..npy
381  20220801  226586       r.e.m..npy
382  20220901  215372       r.e.m..npy
383  20221001  237936       r.e.m..npy

[384 rows x 3 columns]