In [1]:
import pandas as p
import numpy as n
import requests as r
import os
import zipfile
import glob

In [2]:
_FILECONST = "{START}_million_to_{END}_million.zip"

In [3]:
sd = [(75,79), (80,99), (100,119), (120,199), (200,249), (250,999)]

In [4]:
if not os.path.exists("extract"):
    os.mkdir("extract")

In [5]:
for i in sd:
    if not os.path.exists(_FILECONST.format(START=i[0], END=i[1])):
        data = r.get("https://faculty.cs.niu.edu/~dakoop/cs503-2022fa/a7/" + _FILECONST.format(START=i[0], END=i[1]))
        open(_FILECONST.format(START=i[0], END=i[1]), 'wb').write(data.content)

In [6]:
for i in sd:
    if os.path.exists(_FILECONST.format(START=i[0], END=i[1])):
        with zipfile.ZipFile(_FILECONST.format(START=i[0], END=i[1])) as zf:
            zf.extractall("extract")

In [7]:
def get_path(dirs, fileext):
    return glob.glob(os.path.join(dirs,"**/*.{}".format(fileext)), recursive=True)

In [8]:
list_npy = get_path(r"S:/GitHub Upload/All python programs/all basic program/Assignment 7/extract/", "npy")

In [9]:
list_npy

['S:/GitHub Upload/All python programs/all basic program/Assignment 7/extract\\100_million_to_119_million\\Other\\nicki-minaj.npy',
 'S:/GitHub Upload/All python programs/all basic program/Assignment 7/extract\\100_million_to_119_million\\United Kingdom\\george-michael.npy',
 'S:/GitHub Upload/All python programs/all basic program/Assignment 7/extract\\100_million_to_119_million\\United States\\george-strait.npy',
 'S:/GitHub Upload/All python programs/all basic program/Assignment 7/extract\\100_million_to_119_million\\United States\\janet-jackson.npy',
 'S:/GitHub Upload/All python programs/all basic program/Assignment 7/extract\\120_million_to_199_million\\Other\\drake.npy',
 'S:/GitHub Upload/All python programs/all basic program/Assignment 7/extract\\120_million_to_199_million\\Other\\justin-bieber.npy',
 'S:/GitHub Upload/All python programs/all basic program/Assignment 7/extract\\120_million_to_199_million\\Other\\u2.npy',
 'S:/GitHub Upload/All python programs/all basic program/Assignment 7/extract\\120_million_to_199_million\\United Kingdom\\adele.npy',
 'S:/GitHub Upload/All python programs/all basic program/Assignment 7/extract\\120_million_to_199_million\\United Kingdom\\ed-sheeran.npy',
 'S:/GitHub Upload/All python programs/all basic program/Assignment 7/extract\\120_million_to_199_million\\United Kingdom\\phil-collins.npy',
 'S:/GitHub Upload/All python programs/all basic program/Assignment 7/extract\\120_million_to_199_million\\United States\\bon-jovi.npy',
 'S:/GitHub Upload/All python programs/all basic program/Assignment 7/extract\\120_million_to_199_million\\United States\\bruno-mars.npy',
 'S:/GitHub Upload/All python programs/all basic program/Assignment 7/extract\\120_million_to_199_million\\United States\\chris-brown.npy',
 'S:/GitHub Upload/All python programs/all basic program/Assignment 7/extract\\120_million_to_199_million\\United States\\katy-perry.npy',
 'S:/GitHub Upload/All python programs/all basic program/Assignment 7/extract\\120_million_to_199_million\\United States\\lady-gaga.npy',
 'S:/GitHub Upload/All python programs/all basic program/Assignment 7/extract\\120_million_to_199_million\\United States\\metallica.npy',
 'S:/GitHub Upload/All python programs/all basic program/Assignment 7/extract\\200_million_to_249_million\\Other\\celine-dion.npy',
 'S:/GitHub Upload/All python programs/all basic program/Assignment 7/extract\\200_million_to_249_million\\United States\\taylor-swift.npy',
 'S:/GitHub Upload/All python programs/all basic program/Assignment 7/extract\\200_million_to_249_million\\United States\\whitney-houston.npy',
 'S:/GitHub Upload/All python programs/all basic program/Assignment 7/extract\\250_million_to_999_million\\Other\\rihanna.npy',
 'S:/GitHub Upload/All python programs/all basic program/Assignment 7/extract\\250_million_to_999_million\\United States\\madonna.npy',
 'S:/GitHub Upload/All python programs/all basic program/Assignment 7/extract\\75_million_to_79_million\\Other\\the-weeknd.npy',
 'S:/GitHub Upload/All python programs/all basic program/Assignment 7/extract\\75_million_to_79_million\\United States\\alabama.npy',
 'S:/GitHub Upload/All python programs/all basic program/Assignment 7/extract\\75_million_to_79_million\\United States\\gloria-estefan.npy',
 'S:/GitHub Upload/All python programs/all basic program/Assignment 7/extract\\75_million_to_79_million\\United States\\imagine-dragons.npy',
 'S:/GitHub Upload/All python programs/all basic program/Assignment 7/extract\\75_million_to_79_million\\United States\\kenny-g.npy',
 'S:/GitHub Upload/All python programs/all basic program/Assignment 7/extract\\75_million_to_79_million\\United States\\luke-bryan.npy',
 'S:/GitHub Upload/All python programs/all basic program/Assignment 7/extract\\80_million_to_99_million\\United States\\ariana-grande.npy',
 'S:/GitHub Upload/All python programs/all basic program/Assignment 7/extract\\80_million_to_99_million\\United States\\flo-rida.npy',
 'S:/GitHub Upload/All python programs/all basic program/Assignment 7/extract\\80_million_to_99_million\\United States\\lionel-richie.npy',
 'S:/GitHub Upload/All python programs/all basic program/Assignment 7/extract\\80_million_to_99_million\\United States\\post-malone.npy',
 'S:/GitHub Upload/All python programs/all basic program/Assignment 7/extract\\80_million_to_99_million\\United States\\r.e.m..npy']

In [10]:
# for i in range(0, len(list_npy)):
#     print(list_npy[i].split("\\")[-1], " : ", n.load(list_npy[i], allow_pickle=True))
#     print(i)
# print(len(list_npy))
# h=[2,3,2,2,1,3,7]
# h[len(h):] = n.load(list_npy[2])[0].tolist()
# h

In [11]:
datas = {"Date": [], "Views": [],"Artist":[]}

In [12]:
def operation(datas):
    for i in range(0, len(list_npy)):
        s = n.load(list_npy[i])
        datas["Date"][len(datas["Date"]):] = s[0].tolist()
        datas["Views"][len(datas["Views"]):] = s[1].tolist()
        datas["Artist"][len(datas["Artist"]):] = [list_npy[i].split("\\")[-1].split("npy")[0][:-1]] * len(s[0])

In [13]:
from concurrent.futures import ThreadPoolExecutor

In [14]:
with ThreadPoolExecutor(max_workers=1) as executor:
    executor.submit(operation, datas)

In [15]:
df = p.DataFrame.from_dict(datas, orient='index')
df = df.transpose()
df

         Date   Views       Artist
0    20211101  244394  nicki-minaj
1    20211201  289797  nicki-minaj
2    20220101  265998  nicki-minaj
3    20220201  333488  nicki-minaj
4    20220301  255348  nicki-minaj
..        ...     ...          ...
379  20220601  217135       r.e.m.
380  20220701  220454       r.e.m.
381  20220801  226586       r.e.m.
382  20220901  215372       r.e.m.
383  20221001  237936       r.e.m.

[384 rows x 3 columns]

In [16]:
def get_df_by_date(date, d):
    DF = p.DataFrame.from_dict(d, orient='index')
    DF = DF.transpose()
    return DF[DF.Date == date]
    
def get_df_by_artist(ar, d):
    DF = p.DataFrame.from_dict(d, orient='index')
    DF = DF.transpose()
    return DF[DF.Artist == ar]

In [17]:
Unique_Date = list(set(datas["Date"]))
Unique_Date

[20211201,
 20220801,
 20220101,
 20220901,
 20220201,
 20220701,
 20221001,
 20220301,
 20220401,
 20220501,
 20220601,
 20211101]

In [18]:
Unique_Artist = list(set(datas["Artist"]))
Unique_Artist

['drake',
 'lionel-richie',
 'r.e.m.',
 'taylor-swift',
 'u2',
 'ed-sheeran',
 'imagine-dragons',
 'adele',
 'phil-collins',
 'metallica',
 'the-weeknd',
 'alabama',
 'janet-jackson',
 'kenny-g',
 'justin-bieber',
 'luke-bryan',
 'ariana-grande',
 'lady-gaga',
 'bruno-mars',
 'whitney-houston',
 'chris-brown',
 'madonna',
 'bon-jovi',
 'celine-dion',
 'george-strait',
 'gloria-estefan',
 'katy-perry',
 'post-malone',
 'george-michael',
 'flo-rida',
 'rihanna',
 'nicki-minaj']

In [19]:
# All same date in one dataframe.
_1 = p.DataFrame(get_df_by_date(Unique_Date[n.random.randint(0, len(Unique_Date))], datas))
_1

         Date   Views           Artist
10   20220901  377011      nicki-minaj
22   20220901  278077   george-michael
34   20220901   76193    george-strait
46   20220901  177583    janet-jackson
58   20220901  290230            drake
70   20220901  394924    justin-bieber
82   20220901  204657               u2
94   20220901  220650            adele
106  20220901  255344       ed-sheeran
118  20220901  247004     phil-collins
130  20220901  101943         bon-jovi
142  20220901  188463       bruno-mars
154  20220901  177932      chris-brown
166  20220901  291551       katy-perry
178  20220901  457414        lady-gaga
190  20220901  266352        metallica
202  20220901  265442      celine-dion
214  20220901  628437     taylor-swift
226  20220901  358684  whitney-houston
238  20220901  439472          rihanna
250  20220901  464588          madonna
262  20220901  314972       the-weeknd
274  20220901   33926          alabama
286  20220901  100534   gloria-estefan
298  20220901  173828  imagine-dragons
310  20220901   38586          kenny-g
322  20220901   75151       luke-bryan
334  20220901  443913    ariana-grande
346  20220901   37203         flo-rida
358  20220901  103594    lionel-richie
370  20220901  328985      post-malone
382  20220901  215372           r.e.m.

In [22]:
_2 = p.DataFrame(get_df_by_artist(Unique_Artist[n.random.randint(0, len(Unique_Artist))], datas))
_2

         Date   Views   Artist
240  20211101  365917  madonna
241  20211201  405122  madonna
242  20220101  385166  madonna
243  20220201  332049  madonna
244  20220301  367723  madonna
245  20220401  409161  madonna
246  20220501  379024  madonna
247  20220601  386648  madonna
248  20220701  348677  madonna
249  20220801  648763  madonna
250  20220901  464588  madonna
251  20221001  590429  madonna