In [2]:
import numpy as n
import pandas as p

In [3]:
data = p.DataFrame({0: {"id": 1, "Name": "Name1", "Pass": "Yes"}, 1: {"id": 2, "Name": "Name2", "Pass": "No"}, 
                    2: {"id": 2, "Name": "Name2", "Pass": "No"}, 3: {"id": 3, "Name": "Name3", "Pass": "Yes"}})
data

          0      1      2      3
id        1      2      2      3
Name  Name1  Name2  Name2  Name3
Pass    Yes     No     No    Yes

In [5]:
d = p.DataFrame([[1, "Name1", "Yes"], [2, "Name2", "No"], 
                [2, "Name2", "No"], [3, "Name3", "Yes"]], columns=["ID", "Name", "Pass"])
d

   ID   Name Pass
0   1  Name1  Yes
1   2  Name2   No
2   2  Name2   No
3   3  Name3  Yes

In [6]:
d[d.duplicated()]

   ID   Name Pass
2   2  Name2   No

In [7]:
d.drop_duplicates(inplace=True)

In [8]:
d

   ID   Name Pass
0   1  Name1  Yes
1   2  Name2   No
3   3  Name3  Yes