In [1]:
import pandas as p
import numpy as n
import requests as r
import os
import zipfile
import glob

In [2]:
_FILECONST = "{START}_million_to_{END}_million.zip"

In [3]:
sd = [(75,79), (80,99), (100,119), (120,199), (200,249), (250,999)]

In [4]:
if not os.path.exists("extract"):
    os.mkdir("extract")

In [5]:
for i in sd:
    if not os.path.exists(_FILECONST.format(START=i[0], END=i[1])):
        data = r.get("https://faculty.cs.niu.edu/~dakoop/cs503-2022fa/a7/" + _FILECONST.format(START=i[0], END=i[1]))
        open(_FILECONST.format(START=i[0], END=i[1]), 'wb').write(data.content)

In [6]:
for i in sd:
    if os.path.exists(_FILECONST.format(START=i[0], END=i[1])):
        with zipfile.ZipFile(_FILECONST.format(START=i[0], END=i[1])) as zf:
            zf.extractall("extract")

In [7]:
def get_path(dirs, fileext):
    return glob.glob(os.path.join(dirs,"**/*.{}".format(fileext)), recursive=True)

In [45]:
list_npy = get_path(r"S:/GitHub Upload/All python programs/all basic program/Assignment 7/extract/", "npy")

In [46]:
list_npy

['S:/GitHub Upload/All python programs/all basic program/Assignment 7/extract\\100_million_to_119_million\\Other\\nicki-minaj.npy',
 'S:/GitHub Upload/All python programs/all basic program/Assignment 7/extract\\100_million_to_119_million\\United Kingdom\\george-michael.npy',
 'S:/GitHub Upload/All python programs/all basic program/Assignment 7/extract\\100_million_to_119_million\\United States\\george-strait.npy',
 'S:/GitHub Upload/All python programs/all basic program/Assignment 7/extract\\100_million_to_119_million\\United States\\janet-jackson.npy',
 'S:/GitHub Upload/All python programs/all basic program/Assignment 7/extract\\120_million_to_199_million\\Other\\drake.npy',
 'S:/GitHub Upload/All python programs/all basic program/Assignment 7/extract\\120_million_to_199_million\\Other\\justin-bieber.npy',
 'S:/GitHub Upload/All python programs/all basic program/Assignment 7/extract\\120_million_to_199_million\\Other\\u2.npy',
 'S:/GitHub Upload/All python programs/all basic program/Assignment 7/extract\\120_million_to_199_million\\United Kingdom\\adele.npy',
 'S:/GitHub Upload/All python programs/all basic program/Assignment 7/extract\\120_million_to_199_million\\United Kingdom\\ed-sheeran.npy',
 'S:/GitHub Upload/All python programs/all basic program/Assignment 7/extract\\120_million_to_199_million\\United Kingdom\\phil-collins.npy',
 'S:/GitHub Upload/All python programs/all basic program/Assignment 7/extract\\120_million_to_199_million\\United States\\bon-jovi.npy',
 'S:/GitHub Upload/All python programs/all basic program/Assignment 7/extract\\120_million_to_199_million\\United States\\bruno-mars.npy',
 'S:/GitHub Upload/All python programs/all basic program/Assignment 7/extract\\120_million_to_199_million\\United States\\chris-brown.npy',
 'S:/GitHub Upload/All python programs/all basic program/Assignment 7/extract\\120_million_to_199_million\\United States\\katy-perry.npy',
 'S:/GitHub Upload/All python programs/all basic program/Assignment 7/extract\\120_million_to_199_million\\United States\\lady-gaga.npy',
 'S:/GitHub Upload/All python programs/all basic program/Assignment 7/extract\\120_million_to_199_million\\United States\\metallica.npy',
 'S:/GitHub Upload/All python programs/all basic program/Assignment 7/extract\\200_million_to_249_million\\Other\\celine-dion.npy',
 'S:/GitHub Upload/All python programs/all basic program/Assignment 7/extract\\200_million_to_249_million\\United States\\taylor-swift.npy',
 'S:/GitHub Upload/All python programs/all basic program/Assignment 7/extract\\200_million_to_249_million\\United States\\whitney-houston.npy',
 'S:/GitHub Upload/All python programs/all basic program/Assignment 7/extract\\250_million_to_999_million\\Other\\rihanna.npy',
 'S:/GitHub Upload/All python programs/all basic program/Assignment 7/extract\\250_million_to_999_million\\United States\\madonna.npy',
 'S:/GitHub Upload/All python programs/all basic program/Assignment 7/extract\\75_million_to_79_million\\Other\\the-weeknd.npy',
 'S:/GitHub Upload/All python programs/all basic program/Assignment 7/extract\\75_million_to_79_million\\United States\\alabama.npy',
 'S:/GitHub Upload/All python programs/all basic program/Assignment 7/extract\\75_million_to_79_million\\United States\\gloria-estefan.npy',
 'S:/GitHub Upload/All python programs/all basic program/Assignment 7/extract\\75_million_to_79_million\\United States\\imagine-dragons.npy',
 'S:/GitHub Upload/All python programs/all basic program/Assignment 7/extract\\75_million_to_79_million\\United States\\kenny-g.npy',
 'S:/GitHub Upload/All python programs/all basic program/Assignment 7/extract\\75_million_to_79_million\\United States\\luke-bryan.npy',
 'S:/GitHub Upload/All python programs/all basic program/Assignment 7/extract\\80_million_to_99_million\\United States\\ariana-grande.npy',
 'S:/GitHub Upload/All python programs/all basic program/Assignment 7/extract\\80_million_to_99_million\\United States\\flo-rida.npy',
 'S:/GitHub Upload/All python programs/all basic program/Assignment 7/extract\\80_million_to_99_million\\United States\\lionel-richie.npy',
 'S:/GitHub Upload/All python programs/all basic program/Assignment 7/extract\\80_million_to_99_million\\United States\\post-malone.npy',
 'S:/GitHub Upload/All python programs/all basic program/Assignment 7/extract\\80_million_to_99_million\\United States\\r.e.m..npy']

In [47]:
# for i in range(0, len(list_npy)):
#     print(list_npy[i].split("\\")[-1], " : ", n.load(list_npy[i], allow_pickle=True))
#     print(i)
# print(len(list_npy))
# h=[2,3,2,2,1,3,7]
# h[len(h):] = n.load(list_npy[2])[0].tolist()
# h

In [48]:
datas = {"Date": [], "Views": [],"Artist":[]}

In [49]:
def operation(datas):
    for i in range(0, len(list_npy)):
        s = n.load(list_npy[i])
        datas["Date"][len(datas["Date"]):] = s[0].tolist()
        datas["Views"][len(datas["Views"]):] = s[1].tolist()
        datas["Artist"][len(datas["Artist"]):] = [list_npy[i].split("\\")[-1].split("npy")[0][:-2]] * len(s[0])

In [50]:
from concurrent.futures import ThreadPoolExecutor

In [51]:
with ThreadPoolExecutor(max_workers=1) as executor:
    executor.submit(operation, datas)

In [52]:
df = p.DataFrame.from_dict(datas, orient='index')
df = df.transpose()
df

         Date   Views      Artist
0    20211101  244394  nicki-mina
1    20211201  289797  nicki-mina
2    20220101  265998  nicki-mina
3    20220201  333488  nicki-mina
4    20220301  255348  nicki-mina
..        ...     ...         ...
379  20220601  217135       r.e.m
380  20220701  220454       r.e.m
381  20220801  226586       r.e.m
382  20220901  215372       r.e.m
383  20221001  237936       r.e.m

[384 rows x 3 columns]

In [53]:
def get_df_by_date(date, d):
    DF = p.DataFrame.from_dict(d, orient='index')
    DF = DF.transpose()
    return DF[DF.Date == date]
    
def get_df_by_artist(ar, d):
    DF = p.DataFrame.from_dict(d, orient='index')
    DF = DF.transpose()
    return DF[DF.Artist == ar]

In [54]:
Unique_Date = list(set(datas["Date"]))
Unique_Date

[20211201,
 20220801,
 20220101,
 20220901,
 20220201,
 20220701,
 20221001,
 20220301,
 20220401,
 20220501,
 20220601,
 20211101]

In [55]:
Unique_Artist = list(set(datas["Artist"]))
Unique_Artist

['nicki-mina',
 'phil-collin',
 'flo-rid',
 'adel',
 'lionel-richi',
 'post-malon',
 'gloria-estefa',
 'chris-brow',
 'ed-sheera',
 'celine-dio',
 'kenny-',
 'bruno-mar',
 'luke-brya',
 'madonn',
 'lady-gag',
 'justin-biebe',
 'imagine-dragon',
 'the-weekn',
 'u',
 'george-michae',
 'rihann',
 'bon-jov',
 'taylor-swif',
 'metallic',
 'janet-jackso',
 'ariana-grand',
 'george-strai',
 'katy-perr',
 'alabam',
 'r.e.m',
 'whitney-housto',
 'drak']

In [56]:
# All same date in one dataframe.
_1 = p.DataFrame(get_df_by_date(Unique_Date[n.random.randint(0, len(Unique_Date))], datas))
_1

         Date   Views          Artist
4    20220301  255348      nicki-mina
16   20220301  235192   george-michae
28   20220301   97383    george-strai
40   20220301  173608    janet-jackso
52   20220301  293833            drak
64   20220301  470137    justin-biebe
76   20220301  222093               u
88   20220301  305783            adel
100  20220301  309726       ed-sheera
112  20220301  653943     phil-collin
124  20220301  115674         bon-jov
136  20220301  192351       bruno-mar
148  20220301  168775      chris-brow
160  20220301  343348       katy-perr
172  20220301  453756        lady-gag
184  20220301  199165        metallic
196  20220301  206629      celine-dio
208  20220301  532982     taylor-swif
220  20220301  274939  whitney-housto
232  20220301  553255          rihann
244  20220301  367723          madonn
256  20220301  295787       the-weekn
268  20220301   22047          alabam
280  20220301   54782   gloria-estefa
292  20220301  132965  imagine-dragon
304  20220301   37992          kenny-
316  20220301  103148       luke-brya
328  20220301  474603    ariana-grand
340  20220301   34127         flo-rid
352  20220301  184371    lionel-richi
364  20220301  215543      post-malon
376  20220301  246567           r.e.m

In [63]:
_2 = p.DataFrame(get_df_by_artist(Unique_Artist[n.random.randint(0, len(Unique_Artist))], datas))
_2

         Date   Views     Artist
156  20211101  257626  katy-perr
157  20211201  291681  katy-perr
158  20220101  467378  katy-perr
159  20220201  321336  katy-perr
160  20220301  343348  katy-perr
161  20220401  405992  katy-perr
162  20220501  356692  katy-perr
163  20220601  243958  katy-perr
164  20220701  250082  katy-perr
165  20220801  298006  katy-perr
166  20220901  291551  katy-perr
167  20221001  334706  katy-perr